:root {
	--color-primary-pale-blue: hsl(225, 100%, 94%);
	--color-primary-bright-blue: hsl(245, 75%, 52%);
	--color-neutral-very-pale-blue: hsl(225, 100%, 98%);
	--color-neutral-desaturated-blue: hsl(224, 23%, 55%);
	--color-neutral-dark-blue: hsl(223, 47%, 23%);
	--font-weight-regular: 500;
	--font-weight-bold: 700;
	--font-weight-black: 900;
}	

html {
	margin: 0;
	padding: 0 4vw;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-size: 16px;
	font-weight: var(--font-weight-regular);
	font-family: "Red Hat Display", sans-serif;
	background-color: var(--color-primary-pale-blue);
}
img {
	width: 100%;
	border-radius: inherit;
}
h1 {
	font-weight: var(--font-weight-black);
}

.card {
	border-radius: 1.5rem;
	background-color: white;
	box-shadow: 0 5px 15px 0px hsla(245, 75%, 52%, 20%);
}

.card img {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.card > .body {
	padding: 2rem;
}

.card article {
	text-align: center;
}
.card article h1 {
	margin-top: 0;
	margin-inline: auto;
	font-size: 2rem;
}
.card article p {
	font-size: 1rem;
	color: var(--color-neutral-desaturated-blue);
}

@media only screen and (min-width: 600px) {
	/* desktop */
}
