:root {
	--color-primary-pale-blue: hsl(225, 100%, 94%);
	--color-primary-bright-blue: hsl(245, 75%, 52%);
	--color-neutral-very-pale-blue: hsl(225, 100%, 98%);
	--color-neutral-desaturated-blue: hsl(224, 23%, 55%);
	--color-neutral-dark-blue: hsl(223, 47%, 23%);
	--color-hover: hsl(245, 75%, 65%);
	--font-weight-regular: 500;
	--font-weight-bold: 700;
	--font-weight-black: 900;
	--body-padding: 1.5rem;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	padding: 0 var(--body-padding);
	font-size: 16px;
	font-weight: var(--font-weight-regular);
	font-family: "Red Hat Display", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-primary-pale-blue) url("./images/pattern-background-mobile.svg") no-repeat top center;
	background-size: cover;
}

img {
	width: 100%;
	border-radius: inherit;
}

h1 {
	font-weight: var(--font-weight-black);
}

/* Card */
.card {
	max-width: 350px;
	border-radius: 1rem;
	background-color: white;
	box-shadow: 0 5px 15px 0px hsla(245, 75%, 52%, 20%);
}

.card img {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.card>.body {
	padding: 5px 2rem;
}

.card article {
	text-align: center;
}

.card article h1 {
	margin-block: 1rem;
	margin-inline: auto;
	font-size: 1.4rem;
	font-size: clamp(1.2rem, 2vw, 1.4rem);
}

.card article p {
	font-size: 1rem;
	line-height: 1.5;
	color: var(--color-neutral-desaturated-blue);
}

/* Music */
.card .music {
	gap: 1rem;
	padding: 1rem;
	margin-block: 1.5rem;
	display: flex;
	align-items: center;
	border-radius: 0.8rem;
	font-size: 0.85rem;
	background-color: var(--color-neutral-very-pale-blue);
}

.card .music img {
	width: 3rem;
	height: 3rem;
}

.card .music b {
	word-spacing: -0.1rem;
	font-weight: var(--font-weight-bold);
}

.card .music p {
	margin: 0;
	margin-top: 0.25rem;
	color: var(--color-neutral-desaturated-blue);
}

.card .music a {
	margin-left: auto;
	color: var(--color-primary-bright-blue);
	font-weight: var(--font-weight-bold);
}

.card .music a:hover {
	cursor: pointer;
	color: var(--color-hover);
	text-decoration: none;
}

/* Buttons */
.btn {
	width: 100%;
	padding: 1rem;
	margin-inline: auto;
	color: white;
	border: none;
	border-radius: 0.75rem;
	font-size: 1rem;
	font-weight: var(--font-weight-bold);
	background-color: var(--color-primary-bright-blue);
	box-shadow: 0 10px 25px 0 hsl(245deg 75% 52% / 33%);
}

.btn:hover {
	cursor: pointer;
	background-color: var(--color-hover);
}

.btn-transparent {
	padding: 1rem;
	padding-block: 1.5rem;
	text-align: center;
	background-color: transparent;
	font-size: 1rem;
	font-weight: var(--font-weight-bold);
	color: var(--color-neutral-desaturated-blue);
}

.btn-transparent:hover {
	color: black;
	cursor: pointer;
}

@media only screen and (min-width: 600px) {
	body {
		background: var(--color-primary-pale-blue) url("./images/pattern-background-desktop.svg") no-repeat top center;
		background-size: cover;
	}

	.card {
		max-width: 450px;
	}
}
